
 
 
 /* INDEX HTML PAGE INDEX HTML PAGE INDEX HTML PAGE */
 /* GLOBAL STYLE */

 *,
 *::before,
 *::after {
         Margin: 0;
         Padding: 0;
         box-sizing: border-box;

 }

:root {
        --iris: #4d5ae5;
        --navyblue: #2e2f42;
        --ocean: #404bbf;
        --white: #fff;
        --slate: #434455;
        --cornflower: #e7e9fc;
        --cloud: #f4f4fd;
}

body {  
        font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
}

li {
        display: inline;
}


img { 
        display: block;
        max-width: 100%;
        object-fit: cover;
}

button {
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;    
}

.container {
        max-width: 1158px;
        width: 100%;
        margin: 0 auto;
}

.section {
        padding: 120px 0;
}

/* HEADER STYLE */

.page-header {
        display: flex;
        background: var(--white, #fff);
        border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.page-logo {
        display: flex;
        justify-content: flex-start;
        padding: 25.5px 0;   
}

.page-nav  {
        display: flex;
        justify-content:space-between;
        padding: 25.5px 76px;
        gap: 40px;
}

.page-contacts {
        display: flex;
        justify-content: flex-end;
        padding: 25.5px 156px;
        gap: 40px;
        
}


/* logo */
.logo-web {
        font-family: Raleway;
        text-transform: uppercase;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-decoration: none;
        color: var(--iris);
}

.logo-studio {
        font-family: Raleway;
        text-transform: uppercase;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;

        letter-spacing: 0.54px;
        color: var(--slate);
        text-decoration: none;
}

.logo-studio .page-footer {
        color: var(--cloud);
        background-color: var(--navyblue);
}
.footer {
        color: var(--cloud);
        background-color: var(--navyblue);
}

/* navigation */
.page-nav {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
        text-decoration: none;
        list-style-type: none;
}

/* unvisited link */
.nav-link:link {
        text-decoration: none;

}

/* visited link */
.nav-link:visited {
        text-decoration: underline;
        background-color: transparent
}

/* mouse over link */
.nav-link:hover,
.nav-link:focus {
        text-decoration: underline;
        background-color: transparent;
}

/* selected link */
.nav-link:active {
        text-decoration: overline;
        background-color: transparent;
}

/* contacts */
.page-contacts {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: var(--SLATE);
        text-decoration: none;
        list-style-type: none;
}

/* unvisited link */
.contacts-link:link {
            text-decoration: none;
    }

/* visited link */
.contacts-link:visited {
            text-decoration:underline;
            background-color: transparent;
    }

/* mouse over link */
.contacts-link:hover, .contacts-link:focus {
        background-color: transparent;
        text-decoration:underline;
            
    }

/* selected link */
.contacts-link:active {
        background-color: transparent;
        text-decoration:overline;
            
    }


/* HERO BANNER */
.hero {
        background: var(--NAVY-BLUE, #2E2F42);
        padding: 188px 0; 
        font-family: Roboto;
        color: var(--WHITE, #FFF);
        text-align: center;
}

.hero h1  {
        margin-bottom: 58px;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px; /* 107.143% */
        letter-spacing: 1.12px;           
}


.cta {  
        
        background: var(--IRIS, #4D5AE5);
        padding: 16px 32px;
        font-size: 16px;
        font-weight: 500;
        color: var(--WHITE, #FFF);
        line-height: 24px;
        letter-spacing: 0.64px;
        border: 2px solid transparent;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
}


.cta:hover {
        background: transparent;
        border: 2px solid var(--IRIS, #4D5AE5);
        box-sizing: border-box;
}

/* CORE VALUES-SPDT, WHAT ARE WE DOING, OUR TEAM */

h2 {
        margin-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        text-transform: capitalize;
        line-height: 40px;
        letter-spacing: 0.72px;
        
}

.core-values h3 {
        margin-bottom: 8px;
}

.core-values, 
.what-we-do,
.our-team { 
        display: flex;
        flex-direction: row;
        gap: 24px;
}

.our-team-wrap {
        background: var(--CLOUD, #F4F4FD);
}

.our-team li {
        background: white;
        
}

.info {
        padding: 32px 0;
        text-align: center;    
}

.info h3 {
        margin-bottom: 13px;

}

/* FOOTER STYLE */
.page-footer {
        background-color: var(--navyblue);
        padding: 100px 0;
        color: white;
}

.page-footer .logo-web {
        margin-bottom: 20px;
}

.page-footer p {
        max-width: 265px; 
        width: 100%;
}


/* PORTFOLIO PAGE PORTFOLIO PAGE PORTFOLIO PAGE */
 

