
 
 
 /* INDEX HTML PAGE INDEX HTML PAGE INDEX HTML PAGE */
 /* GLOBAL STYLE */

 *,
 *::before,
 *::after {
         box-sizing: border-box;
 }

:root {
        --iris: #4d5ae5;
        --navyblue: #2e2f42;
        --ocean: #404bbf;
        --white: #fff;
        --slate: #434455;
        --cornflower: #e7e9fc;
        --cloud: #f4f4fd;
}


body {  
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}


.container {
        width: 480px;
        margin: 0 auto;
        padding: 0 15px;

        
}

.logo-web {
        font-family: Raleway;
        text-transform: uppercase;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px; /* 116.667% */
        letter-spacing: 0.54px;
        color: var (--iris);
}

.logo-studio {
        font-family: Raleway;
        text-transform: uppercase;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px; /* 116.667% */
        letter-spacing: 0.54px;
        color: var (--cloud); 
}



ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        border: 2px dashed #2a2a2a;
}

li {
        display: inline;
}


p {

}




button {
        cursor: pointer;
}


.container {
        width: 1158px;
}



/* HEADER STYLE */
.nav-header { 

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.32px;
        text-decoration: none;

        list-style-type: none;

}

/* unvisited link */
.nav-link:link {
        text-decoration: none;
        
}

/* visited link */
.nav-link:visited {
        text-decoration:underline;
        background-color: transparent
}

/* mouse over link */
.nav-link:hover, .nav-link:focus  {
        text-decoration:underline;
        background-color:transparent;
}

/* selected link */
.nav-link:active {
        text-decoration: overline;
        background-color: transparent;
}

.contacts-header {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-decoration: none;

        list-style-type: none;
        margin: 0;
        padding: 0;
        
        
       

}
/* unvisited link */
    .contacts-link:link {
            text-decoration: none;
    }

/* visited link */
    .contacts-link:visited {
            text-decoration:underline;
            background-color: transparent;
    }

/* mouse over link */
    .contacts-link:hover, contacts-link:focus {
            text-decoration:underline;
            background-color: transparent;
    }

/* selected link */
    .contacts-link:active {
            text-decoration:overline;
            background-color: transparent;
    }

/* HERO BANNER */
.hero {
        background: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        color: var(--WHITE, #FFF);
        text-align: center;
        margin: auto; 
}

.hero .hero-header  {
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 107.143% */
        letter-spacing: 1.12px;
        

        
}


.hero-btn {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        
        color: var(--WHITE, #FFF);
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;


        border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);


        
}


.hero-btn:hover {
        background-color: black;

}

/* CORE VALUES-SPDT, WHAT ARE WE DOING, OUR TEAM */

h2 {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.core-values-spdt, .wawd-images, .our-team, .portfolio-img {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;





        
        
}

.core-values-spdt {
        flex-direction: row;
        gap: 8px;

}



/* FOOTER STYLE */
.footer {
        background: var(--NAVY-BLUE, #2E2F42);
        color: var(--CLOUD, #F4F4FD);
}


/* PORTFOLIO PAGE PORTFOLIO PAGE PORTFOLIO PAGE */
 

